.small-caps {
    font-variant: small-caps!important;
}

.uppercase {
    text-transform: uppercase!important;
}

.x{
    height: 440px!important;
}

.perpecti{
    perspective:1000px !important;
}

.wdth-330{
    width:330px !important;
}

.g-250{
    height:280px !important;
}

.width-980{
    width:980px !important;
}
